# dependencias principales
Django>=5.0
Pillow
crispy-bootstrap5
python-decouple

# dependencias para login con google
django-allauth
requests
PyJWT
cryptography

# dependencia para reservas
django-widget-tweaks

stripe