{% extends "base.html" %}

{% block content %}
<div class="container col-md-6 col-lg-5 mt-5 text-white" style="background-color: black; border-radius: 10px; padding: 20px;">
  <h2>¡Contraseña restablecida!</h2>
  <p>Tu contraseña ha sido cambiada con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
  <a href="{% url 'registrar' %}" class="d-flex justify-content-center mt-3" style="text-decoration: none;">
    <button type="button" class="btn btn-warning">Iniciar sesión en MonkeyFoods</button>
  </a>
</div>
{% endblock %}