{% extends "base.html" %}

{% block content %}
<div class="container col-md-6 col-lg-5 mt-5" style="background-color: black; border-radius: 10px; padding: 20px;">
  <form method="post">
    {% csrf_token %}
    <h1 class="text-center text-white">Recuperar contraseña</h1>
    <p class="text-center text-white" style="font-size: 16px;">Ingresa tu correo electrónico para recibir el enlace de
      recuperación.</p>
    <div class="text-white text-center mt-4 mb-4" style="font-style: inherit;">
      {{ form.as_p }}
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-warning">Continuar</button>
    </div>
  </form>
</div>

{% if form.email.errors %}
<ul>
  {% for error in form.email.errors %}

  {% endfor %}
</ul>
{% endif %}

{% endblock %}