<p>Hola {{ user.first_name }} {{ user.last_name }} ({{ user.get_username }}),</p>

<p>Has solicitado restablecer la contraseña de tu cuenta en MonkeyFoods.</p>

<p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer contraseña</a></p>

<p>Si no solicitaste este cambio, por favor ignora este correo.</p>

<p>Gracias por usar nuestro sitio.</p>

<p>El equipo de MonkeyFoods.</p>