/* Evita scroll horizontal global */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar-settings {
    background-color: black;
    border-bottom: 3px solid;
    color: white;
}

.marca {
    color: white;
    font-weight: bold;
    text-align: right;
    background-size: 20%;
    font-family: "Century Gothic", sans-serif;
}

.marca:hover {
    color:#ffc107;
    transition: 0.5s;
}

.btn-settings {
    border-radius: 40px;
}

.history {
    border-radius: 40px;
}

/* fondo de la pagina */
.body-fondo{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-registro {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.form-text {
    color: #ffc107;
}

.dropdown-perfil {
    min-width: auto; /* Cambia según lo que necesites */
    max-width: auto;
    width: auto;      /* o un valor fijo como 250px */
}

.dropdown-menu.dropdown-perfil {
    right: 0;
    left: auto;
    position: absolute;  /* Asegura que el dropdown se posicione correctamente */
}